// Import page-specific CSS files here.
@import "home";
$white: #ffff;

.card {
  margin:20px;
  justify-content: center;
  align-items: center;

  h1{
  color: $white;
  font-size: 50px;
  font-weight: 700;
  }
}


img{
  width: 25rem;
  height: auto;
}
