
.banner_movie{
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://images.unsplash.com/photo-1478720568477-152d9b164e26?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2luZW1hfGVufDB8MHwwfHx8MA%3D%3D");
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}


.inner_text h1{
  color: white;
  font-size: 60px;
  font-weight: 700;
  justify-content: center;
  align-content: center;
}
