
.banner_movie{
  padding: 150px 0;

}




.inner_text h1{
  color: white;
  font-size: 60px;
  font-weight: 700;
  justify-content: center;
  align-content: center;
}

// for index page
.banner{
  background-image: linear-gradient(rgba(0, 0, 1, 3), rgba(0, 0, 5, 0)), url("https://images.unsplash.com/photo-1626814026160-2237a95fc5a0?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.container h1{
  color: #c9e7ef;
  font-size: 70px;
  font-weight: 700;
}
