.btn{
  border-radius: 1px;
  background-color: #336970;
  color: white;

}

.btn inner-text{
  font-size: 18px;

  &:hover{
    border-radius: 1px;
    background-color: #40585c;
    color: white;
    font-size: 18px;
  }
}
